/* th {
    color: rgb(241, 237, 232);
    text-align: left
}

th, td {
    padding: 15px;
  }

  table {
    width: 100%; 
    background-color: #868383;
  }

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  } */
